@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");


:root{
    --font-ubuntu:'Ubuntu',monospace;
    --color-border:#eSeSeS;

}

.font-ubuntu{
    font: normal ;
    width: 500;
    font-size: 16px;
    font-family: var(--font-ubuntu);

}

#register{
    padding: 5% 0;
    background: url("https://t3.ftcdn.net/jpg/03/69/34/16/360_F_369341673_zNwyAZ0xUGr4boZ7ukixhWbpNEI6lYfa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#rform input[type="text"],
#rform input[type="password"],
#rform input[type="email"],
#rform input[type="year"]{
    border: none;
    border: unset;
    border-bottom: 1px solid  #e7e4e4;
    font-family: var(--font-ubuntu);
    font-size: 17px;
    outline: none;
    box-shadow: none;

}
